# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
.venv/

# Database
db.sqlite3
*.sqlite3*
*.backup

# Environment variables
.env

# Media files
media/

# Static collected
staticfiles/

# Test files
test_api.py
